# NOTE: In general this should be kept in sync with .eslintignore

packages/**/dist/*.js
packages/**/config/*.js
packages/**/*.js.flow
packages/playwright
packages/playwright-core
packages/babel-plugin-transform-stylex
packages/eslint-plugin-stylex
packages/stylex
packages/**/vite.config.js
**/node_modules
