# NOTE: In general this should be kept in sync with .eslintignore

packages/**/dist/*.js
packages/**/config/*.js
packages/**/*.js.flow
packages/**/*.d.ts
packages/playwright
packages/playwright-core
packages/**/vite.config.js
packages/lexical-website-new/build
**/node_modules
