node_modules
/.pnp
.pnp.js

base-build
build
build
coverage
dist
npm
!scripts/npm
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.ts-temp
.docusaurus
e2e-screenshots
test-results

npm-debug.log*

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

.idea
