node_modules
/.pnp
.pnp.js

base-build
build
build
coverage
dist
npm
!scripts/npm
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
e2e-screenshots
test-results

npm-debug.log*
/.eslintignore
/.eslintrc.js
/babel.config.js
/dangerfile.js
/.prettierignore
/.prettierrc.js
/.watchmanconfig
/.lintstagedrc.js
/playwright.config.js
/jest.config.js
/.flowconfig
/.husky
/.vscode
