# NOTE: In general this should be kept in sync with .eslintignore

**/dist/**
**/build/**
**/npm/**
!scripts/npm/**
**/.output/**
**/.browser-profiles/**
!scripts/npm/**
**/__tests__/integration/fixtures/**
packages/**/.wxt/**
packages/playwright
packages/playwright-core
packages/lexical-website/docs/api
packages/lexical-website/fb/*.json
examples/*svelte*
**/*.md
**/*.js.flow
**/node_modules
.ts-temp
flow-typed
.github/CODEOWNERS
.prettierignore
**/.docusaurus
/playwright-report
test-results
/libdefs/*.js
