# NOTE: In general this should be kept in sync with .eslintignore

packages/**/dist/**
packages/**/build/**
packages/**/npm/**
packages/**/config/**
packages/**/.wxt/**
packages/playwright
packages/playwright-core
packages/**/vite.config.js
packages/**/vite.prod.config.js
**/*.md
**/*.js.flow
**/node_modules
.ts-temp
flow-typed
.github/CODEOWNERS
.prettierignore
