.chevron-button {
  background: var(--main-dark-gray);
  border: none;
  color: var(--main-white);
  cursor: pointer;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.tree-node:hover > .chevron-button {
  background: var(--main-blue);
  color: var(--main-dark-gray);
}
