.tree-view-output {
  background: var(--main-dark-gray);
  color: var(--main-white);
  font-size: 1.2em;
  font-weight: 400;
  height: calc(100vh - var(--top-row-height));
  line-height: 1.1;
  margin: 0;
  position: fixed;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: left;
  top: var(--top-row-height);
  -moz-osx-font-smoothing: grayscale;
}
