.tree-view-output {
  line-height: 1.1;
  background: #222;
  color: #fff;
  margin: 0;
  padding: 1em 0;
  font-size: 1.2em;
  overflow: auto;
  text-align: left;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  width: max-content;
}
