.tree-view-output {
  line-height: 1.1;
  background: #222;
  color: #fff;
  margin: 0;
  padding: 1em;
  font-size: 1em;
  overflow: auto;
  text-align: left;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
}

.tree-view-output ul li {
  font-family: monospace;
  padding-left: 0.5em;
}
