.time-travel-view {
  background: var(--main-dark-gray);
  border: 1px solid var(--highlight-dark-gray);
  color: var(--main-white);
  grid-area: time-travel;
  left: calc(100vw - var(--right-column-width));
  padding: 1em 2em;
  position: fixed;
  text-align: left;
  top: 0em;
  width: var(--right-column-width);
}
