.inspected-element-container {
  padding: 1em 2em;
  overflow: scroll;
}

.inspected-element-view {
  background: var(--main-dark-gray);
  border: 1px solid var(--highlight-dark-gray);
  color: var(--main-white);
  height: calc(100vh - var(--top-row-height));
  left: calc(100vw - var(--right-column-width));
  overflow: auto;
  position: fixed;
  text-align: left;
  top: var(--top-row-height);
  width: var(--right-column-width);
}
