.inspected-element-container {
  padding: 1em 2em;
  overflow: scroll;
}

.inspected-element-view {
  align-self: start;
  background: var(--main-dark-gray);
  border: 1px solid var(--highlight-dark-gray);
  color: var(--main-white);
  grid-area: inspected-element;
  height: 100%;
  left: calc(100vw - 24em);
  overflow: auto;
  position: fixed;
  text-align: left;
  top: 3.5em;
  width: 24em;
}
