.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  font-family: monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  color: white;
}

.loading-view {
  background: #222;
  color: #fff;
  font-size: 3em;
}
