.App {
  display: grid;
  grid-template-columns: auto calc(100vh - 4em);
  grid-template-areas:
    'selection time-travel'
    'tree-view inspected-element';
  text-align: center;
}

.loading-view {
  background: var(--main-dark-gray);
  color: var(--main-white);
  font-size: 3em;
}
