.selection-view {
  background: var(--main-dark-gray);
  border: 1px solid var(--highlight-dark-gray);
  color: var(--main-white);
  grid-area: selection;
  padding: 1em 2em;
  position: sticky;
  text-align: left;
  top: 0em;
}
