@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --animate-blink: blink 0.8s step-end infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
