body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', sans-serif;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #eee;
}

header {
  width: 580px;
  margin: auto;
  position: relative;
}

header h1 {
  text-align: left;
  color: #333;
  display: inline-block;
  margin: 20px 0 0 0;
}

.switches {
  margin: 20px auto;
  width: 580px;
}

.editor-shell {
  background: #fff;
  margin: 20px auto 20px auto;
  border-radius: 2px;
  max-width: 600px;
  color: #000;
  position: relative;
  line-height: 20px;
  font-weight: 400;
}

.editor-shell .editor-wrapper {
  position: relative;
  cursor: text;
  display: block;
}

.editor-shell div.editor {
  min-height: 150px;
  border: 0;
  resize: none;
  word-break: break-word;
  cursor: text;
  font-size: 15px;
  caret-color: rgb(5, 5, 5);
  display: block;
  z-index: 2;
  position: relative;
  width: calc(100% - 90px);
}

.editor-shell div.editor > div {
  margin: 0 0 15px 0;
  position: relative;
}

.editor-shell div.editor div.editor-placeholder {
  color: #999;
  overflow: hidden;
  position: absolute;
  text-overflow: ellipsis;
  top: 10px;
  left: 10px;
  user-select: none;
  white-space: 'nowrap';
  z-index: 1;
  display: inline-block;
  pointer-events: none;
}

.editor-shell div.editor > p {
  margin: 0 0 8px 0;
  position: relative;
}

.editor-shell div.editor > p span {
  display: inline;
}

.editor-shell div.editor h1 {
  font-size: 24px;
  color: rgb(5, 5, 5);
  font-weight: 400;
  margin: 0 0 12px 0;
  padding: 0;
  text-align: left;
}

.editor-shell div.editor h2 {
  font-size: 15px;
  color: rgb(101, 103, 107);
  font-weight: 700;
  margin: 10px 0 0 0;
  padding: 0;
  text-align: left;
  text-transform: uppercase;
}

.editor-shell div.editor ul {
  padding: 0;
  margin: 0
}

.editor-shell div.editor span.editor-text-link,
.editor-shell div.editor strong.editor-text-link,
.editor-shell div.editor em.editor-text-link {
  color: rgb(33,111,219);
}

.editor-shell div.editor blockquote {
  margin: 20px 0;
  font-size: 15px;
  color: rgb(101, 103, 107);
  border-left-color: rgb(206, 208, 212);
  border-left-width: 4px;
  border-left-style: solid;
  padding-left: 16px;
}

.editor-shell div.editor code {
  background-color: rgb(240, 242, 245);
  padding: 1px 0.25rem;
  font-family: Menlo, Consolas, Monaco, monospace;
  font-size: 94%;
}

.editor-shell div.editor ul li {
  margin: 8px 32px 8px 32px;
  list-style-type: disc;
}

pre {
  margin: 20px auto 20px auto;
  max-width: 580px;
  background: #222;
  color: #fff;
  padding: 10px;
  font-size: 12px;
  overflow: hidden;
  white-space: pre-wrap;
}

#step-recorder-button {
  display: block;
  width: 40px;
  height: 40px;
  font-size: 12px;
  padding: 10px 11px;
  border-radius:  20px;
  border: none;
  cursor: pointer;
  outline: none;
  box-shadow:  0px 1px 10px rgba(0,0,0, 0.3);
  position: fixed;
  right: 20px;
  bottom: 20px;
  background-color: #444;
}

#step-recorder-button:hover {
  background-color: #555;
}

#step-recorder-button.recording {
  background-color: rgb(233, 35, 35);
}

#step-recorder-button span {
  width: 20px;
  height: 20px;
  display: block;
  background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yM/r/t_wyvBug7cH.png);
  background-position: 0 -466px;
  filter: invert(1);
}

#mentions-typeahead {
  position: fixed;
  background: #fff;
  box-shadow:  0px 5px 10px rgba(0,0,0, 0.3);
  border-radius: 8px;
  z-index: 3;
}

#mentions-typeahead ul {
  padding: 0;
  list-style: none;
  margin: 0;
  border-radius: 8px;
}

#mentions-typeahead ul li {
  padding: 10px 15px;
  margin: 0;
  min-width: 180px;
  font-size: 14px;
  outline: none;
  cursor: pointer;
  border-radius: 8px;
}

#mentions-typeahead ul li.selected {
  background: #eee;
}

#mentions-typeahead ul li.hovered {
  background: #ddd;
}

#toolbar {
  padding: 4px;
  position: absolute;
  z-index: 100;
  top: -10000px;
  left: -10000px;
  margin-top: -6px;
  opacity: 0;
  background-color: #fff;
  box-shadow:  0px 5px 10px rgba(0,0,0, 0.3);
  border-radius: 8px;
  transition: opacity 0.5s;
}

#toolbar .button {
  width: 20px;
  height: 20px;
  display: inline-block;
  padding: 6px;
  border-radius:  8px;
  cursor: pointer;
  margin: 0 2px;
}

#toolbar .button.hovered {
  width: 20px;
  height: 20px;
  display: inline-block;
  background-color: #eee;
}

#toolbar .button i {
  background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/yB/r/bgFhKO8kopI.png');
  background-size: auto;
  background-repeat: no-repeat;
  display: inline-block;
  height: 20px;
  width: 20px;
  vertical-align: -0.25em;
  filter: invert(0.39) sepia(0.21) saturate(2) saturate(1.095) hue-rotate(174deg) brightness(0.94) contrast(0.86)
}

#toolbar .button i.bold {
  background-position: 0 -154px;
}

#toolbar .button i.italic {
  background-position: 0 -238px;
}

#toolbar .button i.code {
  background-position: 0 -175px;
}

#toolbar .button i.strikethrough {
  background-position: 0 -385px;
}

#toolbar .button i.link {
  background-position: 0 -280px;
}

#toolbar .button.active {
  background-color: rgb(223, 232, 250);
}

#toolbar .button.active i {
  filter: invert(0.39) sepia(0.57) saturate(2) saturate(2) saturate(2) saturate(2) saturate(2) saturate(1.4775) hue-rotate(202deg) brightness(0.97) contrast(0.96)
}

#toolbar .link-input {
  display: inline-block;
  margin: 0 2px;
  padding: 8px 12px;
  border-radius:  15px;
  background-color: rgb(240, 242, 245);
  font-size: 15px;
  color: rgb(5,5,5);
  min-width: 200px;
  border: 0;
  outline: 0;
  position: relative;
}

#toolbar div.link-edit {
  background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/yu/r/ptCc6bNZqYj.png');
  background-size: auto;
  background-repeat: no-repeat;
  background-position: 0px -3224px;
  display: inline-block;
  height: 16px;
  width: 16px;
  vertical-align: -0.25em;
  filter: invert(0.39) sepia(0.21) saturate(2) saturate(1.095) hue-rotate(174deg) brightness(0.94) contrast(0.86);
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

#toolbar div.link-edit:hover {
  filter: invert(0.39) sepia(0.57) saturate(2) saturate(2) saturate(2) saturate(2) saturate(2) saturate(1.4775) hue-rotate(202deg) brightness(0.97) contrast(0.96)
}

#toolbar .link-input a {
  color: rgb(33,111,219);
  text-decoration: none;
  display: block;
}

#toolbar .link-input a:hover {
  text-decoration: underline;
}

.mention:focus {
  box-shadow: rgb(180 213 255) 0px 0px 0px 2px;
  outline: none;
}

#block-controls {
  display: block;
  position: absolute;
  right: 10px;
  width: 62px;
  height: 32px;
  box-sizing: border-box;
  box-shadow: rgba(0,0,0,0.1) 0px 1px 2px 0px;
  top: 16px;
  z-index: 10;
  border-radius: 8px;
  border: 1px solid rgb(206, 208, 212);
  overflow: hidden;
}

#block-controls div.button {
  border: 1px solid white;
  background-color: #fff;
  display: block;
  width: 58px;
  height: 28px;
  transition: background-color 0.1s ease;
  cursor: pointer;
  outline: none;
  border-radius: 8px;
}

#block-controls div.button:hover{
  background-color: #efefef;
}

#block-controls div.button:focus-visible {
  border-color: blue;
}

#block-controls span.block-type {
  background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yP/r/bfOs2Olvs0Y.png);
  display: block;
  width: 20px;
  height: 20px;
  filter: invert(0.39) sepia(0.21) saturate(2) saturate(1.095) hue-rotate(174deg) brightness(0.94) contrast(0.86);
  position: absolute;
  top: 5px;
  left: 10px;
}

#block-controls span.block-type.paragraph {
  background-position: 0px -427px;
}

#block-controls span.block-type.h1 {
  background-position: 0px -196px;
  filter: invert(0.39) sepia(0.57) saturate(2) saturate(2) saturate(2) saturate(2) saturate(2) saturate(1.4775) hue-rotate(202deg) brightness(0.97) contrast(0.96);
}

#block-controls span.block-type.h2 {
  background-position: 0px -217px;
  filter: invert(0.39) sepia(0.57) saturate(2) saturate(2) saturate(2) saturate(2) saturate(2) saturate(1.4775) hue-rotate(202deg) brightness(0.97) contrast(0.96);
}

#block-controls span.block-type.quote {
  background-position: 0px -385px;
  filter: invert(0.39) sepia(0.57) saturate(2) saturate(2) saturate(2) saturate(2) saturate(2) saturate(1.4775) hue-rotate(202deg) brightness(0.97) contrast(0.96);
}

#block-controls span.block-type.ul {
  background-position: 0px -301px;
  filter: invert(0.39) sepia(0.57) saturate(2) saturate(2) saturate(2) saturate(2) saturate(2) saturate(1.4775) hue-rotate(202deg) brightness(0.97) contrast(0.96);
}

#block-controls span.block-type.ol {
  background-position: 0px -322px;
  filter: invert(0.39) sepia(0.57) saturate(2) saturate(2) saturate(2) saturate(2) saturate(2) saturate(1.4775) hue-rotate(202deg) brightness(0.97) contrast(0.96);
}

#block-controls span.block-arrow {
  background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/ye/r/GoXo9vIXtpX.png);
  background-position: 0px -432px;
  display: block;
  width: 16px;
  height: 16px;
  filter: invert(0.39) sepia(0.21) saturate(2) saturate(1.095) hue-rotate(174deg) brightness(0.94) contrast(0.86);
  position: absolute;
  top: 8px;
  left: 35px;
}

.switch {
  display: inline-block;
  color: #444;
  margin-right: 20px;
}

#rich-text-switch {
  right: 0;
}

#character-count-switch {
  right: 130px;
}

.switch label {
  margin-right: 5px;
  line-height: 24px;
  font-size: 14px;
  display: inline-block;
  vertical-align: middle;
}

.switch button {
  background-color: rgb(206, 208, 212);
  height: 24px;
  box-sizing: border-box;
  border-radius: 12px;
  border: 0;
  width: 44px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  outline: none;
  cursor: pointer;
  transition: background-color 0.1s;
  border: 2px solid transparent;
}

.switch button:focus-visible {
  border-color: blue;
}

.switch button span {
  top: 0px;
  left: 0px;
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 12px;
  background-color: white;
  transition: transform 0.2s;
}

.switch button[aria-checked="true"] {
  background-color: rgb(24, 119, 242);
}

.switch button[aria-checked="true"] span {
  transform: translateX(20px);
}

.characters-over {
  color: #999;
  font-size: 12px;
  text-align: right;
  display: block;
  position: absolute;
  right: 12px;
  bottom: 5px;
}

.characters-over span {
  color: red;
}

.editor-shell div.editor span.editor-text-overflowed,
.editor-shell div.editor strong.editor-text-overflowed,
.editor-shell div.editor em.editor-text-overflowed {
  color: red;
}

.editor-shell div.editor span.editor-text-italic,
.editor-shell div.editor strong.editor-text-italic,
.editor-shell div.editor em.editor-text-italic {
  font-style: italic;
}

.editor-shell div.editor span.editor-text-strikethrough,
.editor-shell div.editor strong.editor-text-strikethrough,
.editor-shell div.editor em.editor-text-strikethrough {
  text-decoration: line-through;
}

.editor-shell div.editor span.editor-text-underline,
.editor-shell div.editor strong.editor-text-underline,
.editor-shell div.editor em.editor-text-underline {
  text-decoration: underline;
}

.editor-shell div.editor span.editor-text-underlineStrikethrough,
.editor-shell div.editor strong.editor-text-underlineStrikethrough,
.editor-shell div.editor em.editor-text-underlineStrikethrough {
  text-decoration: underline line-through;
}

.editor-shell div.editor span.editor-text-hashtag,
.editor-shell div.editor strong.editor-text-hashtag,
.editor-shell div.editor em.editor-text-hashtag {
  background-color: rgba(88, 144, 255, .15);
  border-bottom: 1px solid rgba(88, 144, 255, .3);
}
