body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', sans-serif;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #eee;
}

header {
  width: 580px;
  margin: auto;
  position: relative;
  display: flex;
  justify-content: center;
}

header img {
  max-width: 220px;
  margin: 20px 0 0 0;
  display: block;
  height: 100%;
  width: 100%;
}

header h1 {
  text-align: left;
  color: #333;
  display: inline-block;
  margin: 20px 0 0 0;
}

.editor-shell {
  background: #fff;
  margin: 20px auto 20px auto;
  border-radius: 2px;
  max-width: 600px;
  color: #000;
  position: relative;
  line-height: 20px;
  font-weight: 400;
}

.editor-shell .editor-wrapper {
  position: relative;
  cursor: text;
  display: block;
}

.editor-shell div.editor {
  min-height: 150px;
  border: 0;
  resize: none;
  word-break: break-word;
  cursor: text;
  font-size: 15px;
  caret-color: rgb(5, 5, 5);
  display: block;
  position: relative;
  width: calc(100% - 90px);
  tab-size: 1;
}

.editor-shell div.editor > div {
  margin: 0 0 15px 0;
  position: relative;
}

.editor-shell div.editor div.editor-placeholder {
  color: #999;
  overflow: hidden;
  position: absolute;
  text-overflow: ellipsis;
  top: 10px;
  left: 10px;
  user-select: none;
  white-space: nowrap;
  display: inline-block;
  pointer-events: none;
}

.editor-shell div.editor h1 {
  font-size: 24px;
  color: rgb(5, 5, 5);
  font-weight: 400;
  margin: 0 0 12px 0;
  padding: 0;
  text-align: left;
}

.editor-shell div.editor h2 {
  font-size: 15px;
  color: rgb(101, 103, 107);
  font-weight: 700;
  margin: 10px 0 0 0;
  padding: 0;
  text-align: left;
  text-transform: uppercase;
}

.editor-shell div.editor ul {
  padding: 0;
  margin: 0
}

.editor-shell div.editor span.editor-text-link,
.editor-shell div.editor strong.editor-text-link,
.editor-shell div.editor em.editor-text-link {
  color: rgb(33, 111, 219);
}

.editor-shell div.editor blockquote {
  margin: 20px 0;
  font-size: 15px;
  color: rgb(101, 103, 107);
  border-left-color: rgb(206, 208, 212);
  border-left-width: 4px;
  border-left-style: solid;
  padding-left: 16px;
}

.editor-shell div.editor code {
  background-color: rgb(240, 242, 245);
  padding: 1px 0.25rem;
  font-family: Menlo, Consolas, Monaco, monospace;
  font-size: 94%;
}

.editor-shell div.editor ul li {
  margin: 8px 32px 8px 32px;
  list-style-type: disc;
}

.tree-view-output,
.step-recorder-output,
.test-recorder-output {
  margin: 20px auto 20px auto;
  max-width: 600px;
}

pre {
  background: #222;
  color: #fff;
  padding: 10px;
  font-size: 12px;
  overflow: auto;
  white-space: pre-wrap;
  max-height: 250px;
}

.editor-dev-toolbar {
  position: fixed;
  right: 20px;
  bottom: 20px;
  display: flex;
}

.editor-dev-button {
  display: block;
  width: 40px;
  height: 40px;
  font-size: 12px;
  padding: 10px 10px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  outline: none;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  background-color: #444;
}

.editor-dev-button + .editor-dev-button {
  margin-left: 8px;
}

.editor-dev-button::after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  filter: invert(1);
}

.editor-dev-button:hover {
  background-color: #555;
}

.editor-dev-button.active {
  background-color: rgb(233, 35, 35);
}

.test-recorder-toolbar {
  display: flex;
}

.test-recorder-button {
  display: block;
  width: 32px;
  height: 32px;
  font-size: 10px;
  padding: 6px 6px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  outline: none;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);
  background-color: #222;
  transition: box-shadow 50ms ease-out;
}

.test-recorder-button:active {
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.4);
}

.test-recorder-button + .test-recorder-button {
  margin-left: 4px;
}

.test-recorder-button::after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  filter: invert(1);
}

#options-button::after {
  background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/y9/r/Vn1r5cFcNrX.png);
  background-position: 0 -679px;
}

#step-recorder-button::after {
  background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yM/r/t_wyvBug7cH.png);
  background-position: 0 -466px;
}

#test-recorder-button::after {
  background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yM/r/t_wyvBug7cH.png);
  background-position: 0 -172px;
}

#test-recorder-button-snapshot {
  margin-right: auto;
}

#test-recorder-button-snapshot::after {
  background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yM/r/t_wyvBug7cH.png);
  background-position: 0 -571px;
}

#test-recorder-button-copy::after {
  background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yM/r/t_wyvBug7cH.png);
  background-position: 0 -928px;
}

#test-recorder-button-download::after {
  background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yM/r/t_wyvBug7cH.png);
  background-position: 0 -948px;
}

#mentions-typeahead {
  position: fixed;
  background: #fff;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  z-index: 3;
}

#mentions-typeahead ul {
  padding: 0;
  list-style: none;
  margin: 0;
  border-radius: 8px;
}

#mentions-typeahead ul li {
  padding: 10px 15px;
  margin: 0;
  min-width: 180px;
  font-size: 14px;
  outline: none;
  cursor: pointer;
  border-radius: 8px;
}

#mentions-typeahead ul li.selected {
  background: #eee;
}

#mentions-typeahead ul li.hovered {
  background: #ddd;
}

#toolbar {
  padding: 4px;
  position: absolute;
  z-index: 100;
  top: -10000px;
  left: -10000px;
  margin-top: -6px;
  opacity: 0;
  background-color: #fff;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  transition: opacity 0.5s;
}

#toolbar .button {
  width: 20px;
  height: 20px;
  display: inline-block;
  padding: 6px;
  border-radius: 8px;
  cursor: pointer;
  margin: 0 2px;
}

#toolbar .button.hovered {
  width: 20px;
  height: 20px;
  display: inline-block;
  background-color: #eee;
}

#toolbar .button i {
  background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/y4/r/wsLhCXiG1a_.png');
  background-size: auto;
  background-repeat: no-repeat;
  display: inline-block;
  height: 20px;
  width: 20px;
  vertical-align: -0.25em;
  filter: invert(0.39) sepia(0.21) saturate(2) saturate(1.095) hue-rotate(174deg) brightness(0.94) contrast(0.86)
}

#toolbar .button i.bold {
  background-position: 0 -154px;
}

#toolbar .button i.italic {
  background-position: 0 -238px;
}

#toolbar .button i.code {
  background-position: 0 -175px;
}

#toolbar .button i.strikethrough {
  background-position: 0 -385px;
}

#toolbar .button i.link {
  background-position: 0 -280px;
}

#toolbar .button.active {
  background-color: rgb(223, 232, 250);
}

#toolbar .button.active i {
  filter: invert(0.39) sepia(0.57) saturate(2) saturate(2) saturate(2) saturate(2) saturate(2) saturate(1.4775) hue-rotate(202deg) brightness(0.97) contrast(0.96)
}

#toolbar .link-input {
  display: inline-block;
  margin: 0 2px;
  padding: 8px 12px;
  border-radius: 15px;
  background-color: rgb(240, 242, 245);
  font-size: 15px;
  color: rgb(5, 5, 5);
  min-width: 200px;
  border: 0;
  outline: 0;
  position: relative;
}

#toolbar div.link-edit {
  background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/yu/r/ptCc6bNZqYj.png');
  background-size: auto;
  background-repeat: no-repeat;
  background-position: 0px -3224px;
  display: inline-block;
  height: 16px;
  width: 16px;
  vertical-align: -0.25em;
  filter: invert(0.39) sepia(0.21) saturate(2) saturate(1.095) hue-rotate(174deg) brightness(0.94) contrast(0.86);
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

#toolbar div.link-edit:hover {
  filter: invert(0.39) sepia(0.57) saturate(2) saturate(2) saturate(2) saturate(2) saturate(2) saturate(1.4775) hue-rotate(202deg) brightness(0.97) contrast(0.96)
}

#toolbar .link-input a {
  color: rgb(33, 111, 219);
  text-decoration: none;
  display: block;
}

#toolbar .link-input a:hover {
  text-decoration: underline;
}

.mention:focus {
  box-shadow: rgb(180 213 255) 0px 0px 0px 2px;
  outline: none;
}

#block-controls {
  display: block;
  position: absolute;
  right: 10px;
  width: 62px;
  height: 32px;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  top: 16px;
  z-index: 10;
  border-radius: 8px;
  border: 1px solid rgb(206, 208, 212);
  overflow: hidden;
}

#block-controls button {
  border: 1px solid white;
  background-color: #fff;
  display: block;
  width: 58px;
  height: 28px;
  transition: background-color 0.1s ease;
  cursor: pointer;
  outline: none;
  border-radius: 8px;
  margin: 1px;
}

#block-controls button:hover {
  background-color: #efefef;
}

#block-controls button:focus-visible {
  border-color: blue;
}

#block-controls span.block-type {
  background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/y4/r/wsLhCXiG1a_.png);
  display: block;
  width: 20px;
  height: 20px;
  filter: invert(0.39) sepia(0.21) saturate(2) saturate(1.095) hue-rotate(174deg) brightness(0.94) contrast(0.86);
  position: absolute;
  top: 5px;
  left: 10px;
}

#block-controls span.block-type.paragraph {
  background-position: 0 -406px;
}

#block-controls span.block-type.h1 {
  background-position: 0 -196px;
  filter: invert(0.39) sepia(0.57) saturate(2) saturate(2) saturate(2) saturate(2) saturate(2) saturate(1.4775) hue-rotate(202deg) brightness(0.97) contrast(0.96);
}

#block-controls span.block-type.h2 {
  background-position: 0px -217px;
  filter: invert(0.39) sepia(0.57) saturate(2) saturate(2) saturate(2) saturate(2) saturate(2) saturate(1.4775) hue-rotate(202deg) brightness(0.97) contrast(0.96);
}

#block-controls span.block-type.quote {
  background-position: 0 -364px;
  filter: invert(0.39) sepia(0.57) saturate(2) saturate(2) saturate(2) saturate(2) saturate(2) saturate(1.4775) hue-rotate(202deg) brightness(0.97) contrast(0.96);
}

#block-controls span.block-type.ul {
  background-position: 0px -301px;
  filter: invert(0.39) sepia(0.57) saturate(2) saturate(2) saturate(2) saturate(2) saturate(2) saturate(1.4775) hue-rotate(202deg) brightness(0.97) contrast(0.96);
}

#block-controls span.block-type.ol {
  background-position: 0px -322px;
  filter: invert(0.39) sepia(0.57) saturate(2) saturate(2) saturate(2) saturate(2) saturate(2) saturate(1.4775) hue-rotate(202deg) brightness(0.97) contrast(0.96);
}

#block-controls span.block-type.code {
  background-position: 0px -343px;
  filter: invert(0.39) sepia(0.57) saturate(2) saturate(2) saturate(2) saturate(2) saturate(2) saturate(1.4775) hue-rotate(202deg) brightness(0.97) contrast(0.96);
}

#block-controls span.block-arrow {
  background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/ye/r/GoXo9vIXtpX.png);
  background-position: 0px -432px;
  display: block;
  width: 16px;
  height: 16px;
  filter: invert(0.39) sepia(0.21) saturate(2) saturate(1.095) hue-rotate(174deg) brightness(0.94) contrast(0.86);
  position: absolute;
  top: 8px;
  left: 35px;
}

.characters-over {
  color: #999;
  font-size: 12px;
  text-align: right;
  display: block;
  position: absolute;
  right: 12px;
  bottom: 5px;
}

.characters-over span {
  color: red;
}

.editor-shell div.editor span.editor-text-overflowed,
.editor-shell div.editor strong.editor-text-overflowed,
.editor-shell div.editor em.editor-text-overflowed {
  color: red;
}

.editor-shell div.editor span.editor-text-bold,
.editor-shell div.editor strong.editor-text-bold,
.editor-shell div.editor em.editor-text-bold {
  font-weight: bold;
}

.editor-shell div.editor span.editor-text-italic,
.editor-shell div.editor strong.editor-text-italic,
.editor-shell div.editor em.editor-text-italic {
  font-style: italic;
}

.editor-shell div.editor span.editor-text-strikethrough,
.editor-shell div.editor strong.editor-text-strikethrough,
.editor-shell div.editor em.editor-text-strikethrough {
  text-decoration: line-through;
}

.editor-shell div.editor span.editor-text-underline,
.editor-shell div.editor strong.editor-text-underline,
.editor-shell div.editor em.editor-text-underline {
  text-decoration: underline;
}

.editor-shell div.editor span.editor-text-underlineStrikethrough,
.editor-shell div.editor strong.editor-text-underlineStrikethrough,
.editor-shell div.editor em.editor-text-underlineStrikethrough {
  text-decoration: underline line-through;
}

.editor-shell div.editor span.editor-text-hashtag,
.editor-shell div.editor strong.editor-text-hashtag,
.editor-shell div.editor em.editor-text-hashtag {
  background-color: rgba(88, 144, 255, .15);
  border-bottom: 1px solid rgba(88, 144, 255, .3);
}

.dropdown {
  z-index: 5;
  display: block;
  position: absolute;
  box-shadow: 0 12px 28px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.1), inset 0 0 0 1px rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  min-width: 100px;
  min-height: 40px;
  background-color: #fff;
}

.dropdown .item {
  margin: 0 8px 0 8px;
  padding: 8px;
  color: #050505;
  cursor: pointer;
  line-height: 16px;
  font-size: 15px;
  display: flex;
  align-content: center;
  flex-direction: row;
  flex-shrink: 0;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 8px;
  border: 0;
  min-width: 268px;
}

.dropdown .item .active {
  display: flex;
  width: 20px;
  height: 20px;
  background-position: 0 -655px;
  background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yj/r/VuIcQBFX4ba.png);
  filter: invert(0.39) sepia(0.57) saturate(2) saturate(2) saturate(2) saturate(2) saturate(2) saturate(1.4775) hue-rotate(202deg) brightness(0.97) contrast(0.96);
}

.dropdown .item:first-child {
  margin-top: 8px;
}

.dropdown .item:last-child {
  margin-bottom: 8px;
}

.dropdown .item:hover {
  background-color: #eee;
}

.dropdown .item .text {
  display: flex;
  line-height: 20px;
  flex-grow: 1;
  width: 200px
}

.dropdown .item .icon {
  display: flex;
  width: 20px;
  height: 20px;
  user-select: none;
  background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/y4/r/wsLhCXiG1a_.png);
  margin-right: 12px;
  line-height: 16px;
}

.dropdown .item .icon.paragraph {
  background-position: 0 -406px;
}

.dropdown .item .icon.large-heading {
  background-position: 0 -196px;
}

.dropdown .item .icon.small-heading {
  background-position: 0 -217px;
}

.dropdown .item .icon.bullet-list {
  background-position: 0 -301px;
}

.dropdown .item .icon.numbered-list {
  background-position: 0 -322px;
}

.dropdown .item .icon.quote {
  background-position: 0 -364px;
}

.dropdown .item .icon.code {
  background-position: 0 -343px;
}

.switches {
  z-index: 6;
  position: fixed;
  right: 10px;
  bottom: 70px;
  animation: slide-in 0.4s ease;
}

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateX(200px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.switch {
  display: block;
  color: #444;
  margin: 5px 0;
  background-color: rgba(238, 238, 238, 0.7);
  padding: 5px 10px;
  border-radius: 10px;
}

#rich-text-switch {
  right: 0;
}

#character-count-switch {
  right: 130px;
}

.switch label {
  margin-right: 5px;
  line-height: 24px;
  width: 100px;
  font-size: 14px;
  display: inline-block;
  vertical-align: middle;
}

.switch button {
  background-color: rgb(206, 208, 212);
  height: 24px;
  box-sizing: border-box;
  border-radius: 12px;
  width: 44px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  outline: none;
  cursor: pointer;
  transition: background-color 0.1s;
  border: 2px solid transparent;
}

.switch button:focus-visible {
  border-color: blue;
}

.switch button span {
  top: 0px;
  left: 0px;
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 12px;
  background-color: white;
  transition: transform 0.2s;
}

.switch button[aria-checked="true"] {
  background-color: rgb(24, 119, 242);
}

.switch button[aria-checked="true"] span {
  transform: translateX(20px);
}

.editor-shell div.editor .editor-paragraph {
  margin: 0 0 8px 0;
  position: relative;
}

.editor-shell div.editor .editor-paragraph span {
  display: inline;
}

.editor-shell div.editor .editor-code {
  display: block;
  padding: 8px;
  line-height: 1.53;
  font-size: 13px;
  margin: 8px 0;
  tab-size: 2;
}

.emoji {
  color: transparent;
  background-size: 16px 16px;
  height: 16px;
  width: 16px;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  margin: 0 1px;
  text-align: center;
  vertical-align: middle;
}

.emoji.happysmile {
  background-image: url(https://static.xx.fbcdn.net/images/emoji.php/v9/t4c/1/16/1f642.png);
}

.emoji.veryhappysmile {
  background-image: url(https://static.xx.fbcdn.net/images/emoji.php/v9/t51/1/16/1f603.png);
}

.emoji.unhappysmile {
  background-image: url(https://static.xx.fbcdn.net/images/emoji.php/v9/tcb/1/16/1f641.png);
}

.emoji.heart {
  background-image: url(https://static.xx.fbcdn.net/images/emoji.php/v9/t6c/1/16/2764.png);
}
