body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', sans-serif;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #eee;
}

h1 {
  text-align: center;
  color: #333;
}

.editor-shell {
  background: #fff;
  margin: 20px auto 20px auto;
  border-radius: 2px;
  max-width: 600px;
  color: #000;
  position: relative;
  line-height: 20px;
}

.editor-shell div.editor {
  min-height: 150px;
  border: 0;
  resize: none;
  word-break: break-word;
  cursor: text;
  font-size: 15px;
  caret-color: rgb(5, 5, 5);
  display: block;
}

.editor-shell div.editor > div {
  margin: 0 0 15px 0;
  position: relative;
}

.editor-shell div.editor > p {
  margin: 0 0 8px 0;
  position: relative;
}

.editor-shell div.editor h1 {
  font-size: 24px;
  color: rgb(5, 5, 5);
  font-weight: 400;
  margin: 0 0 12px 0;
  padding: 0;
  text-align: left;
}

.editor-shell div.editor h2 {
  font-size: 15px;
  color: rgb(101, 103, 107);
  font-weight: 700;
  margin: 10px 0 0 0;
  padding: 0;
  text-align: left;
  text-transform: uppercase;
}

.editor-shell div.editor ul {
  padding: 0;
  margin: 0
}

.editor-shell div.editor ul li {
  margin: 8px 32px 8px 32px;
  list-style-type: disc;
}

pre {
  margin: 20px auto 20px auto;
  max-width: 580px;
  background: #222;
  color: #fff;
  padding: 10px;
  font-size: 12px;
  overflow: hidden;
}

#mentions-typeahead {
  position: fixed;
  background: #fff;
  box-shadow:  0px 0px 10px rgba(0,0,0, 0.2);
}

#mentions-typeahead ul {
  padding: 0;
  list-style: none;
  margin: 0;
}

#mentions-typeahead ul li {
  padding: 10px 15px;
  margin: 0;
  min-width: 180px;
  font-size: 14px;
  outline: none;
  cursor: pointer;
}

#mentions-typeahead ul li.selected {
  background: #eee;
}

#mentions-typeahead ul li.hovered {
  background: #ddd;
}