name: Lexical Integration Tests

on:
  workflow_call:

jobs:
  integration:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [20.15.1]
    env:
      CI: true
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install dependencies
        run: npm ci
      - run: npm run test-integration
