name: (call) Publish to NPM
on:
  workflow_call:
    inputs:
      ref:
        required: true
        type: string
      dry-run:
        required: true
        type: boolean
      channel:
        required: true
        type: string
      ignore-previously-published:
        required: true
        type: boolean
    secrets:
      NPM_TOKEN:
        required: true

jobs:
  release:
    runs-on: ubuntu-latest
    env:
      DRY_RUN_ARG: ${{ inputs.dry-run && '--dry-run' || '' }}
      IGNORE_PREVIOUSLY_PUBLISHED_ARG: ${{ inputs.ignore-previously-published && '--ignore-previously-published' || '' }}
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ inputs.ref }}
      # Setup .npmrc file to publish to npm
      - uses: actions/setup-node@v4
        with:
          node-version: 20.x
          registry-url: 'https://registry.npmjs.org'
      - run: npm ci
      - run: npm run prepare-release
      - run: node ./scripts/npm/release.js --non-interactive $DRY_RUN_ARG $IGNORE_PREVIOUSLY_PUBLISHED_ARG --channel='${{ inputs.channel }}'
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
