name: Lexical Core Tests

on:
  workflow_call:

jobs:
  integrity:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [22.x]
    env:
      CI: true
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
      - uses: pnpm/action-setup@v4
        with:
          version: 9
      - name: Install dependencies
        run: pnpm install --frozen-lockfile
      - run: pnpm run ci-check
      - run: pnpm run build
      - run: pnpm run build-www

  unit:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [22.x]
        override-react-version: ['', 'beta']
    env:
      CI: true
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
      - uses: pnpm/action-setup@v4
        with:
          version: 9
      - name: Install dependencies
        run: pnpm install --frozen-lockfile
      - name: Install React ${{ matrix.override-react-version }}
        if: matrix.override-react-version != ''
        # This should be safe since we are caching ~/.npm and not node_modules
        run: |
          node ./scripts/override-react.js --version=${{ matrix.override-react-version }}
          grep version node_modules/{react,react-dom}/package.json
      - run: pnpm run test-unit
