name: Lexical Core Tests

on:
  workflow_call:

jobs:
  integrity:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [20.11.0]
    env:
      CI: true
      GITHUB_TOKEN: ${{ secrets.DANGER_GITHUB_API_TOKEN }}
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: npm
      - name: Install dependencies
        run: npm ci
      - run: npm run ci-check
      - run: npm run build
      - run: npm run build-www

  unit:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [18.18.0]
        react-override: ['', 'beta']
    env:
      CI: true
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: npm
      - name: Install dependencies
        run: npm ci
      - name: Override React ${{ matrix.react-override }}
        if: matrix.react-override != ''
        # This should be safe since we are caching ~/.npm and not node_modules
        run: npm i --no-save react@${{ matrix.react-override }} react-dom@${{ matrix.react-override }}
      - run: npm run test-unit

  integration:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [18.18.0]
    env:
      CI: true
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: npm
      - name: Install dependencies
        run: npm ci
      - run: npm run test-integration
