name: Publish to NPM
on:
  workflow_dispatch:
    inputs:
      ignore-previously-published:
        description: Ignore 403 errors for 'You cannot publish over the previously published versions'
        required: true
        default: false
        type: boolean

jobs:
  release:
    uses: ./.github/workflows/call-npm-publish.yml
    with:
      ref: main
      dry-run: false
      channel: latest
      ignore-previously-published: ${{ inputs.ignore-previously-published }}
    secrets:
      NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
  post-release:
    uses: ./.github/workflows/call-post-release.yml
    needs: release
    with:
      ref: main
