name: Outline Tests

on: [push]

jobs:
  integrity:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16.8]
    env:
      CI: true
      PLAYWRIGHT_BROWSERS_PATH: 0
      GITHUB_TOKEN: ${{ secrets.DANGER_GITHUB_API_TOKEN }}
    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}
    - uses: actions/cache@v2
      with:
        path: '**/node_modules'
        key: ${{ runner.os }}-${{ hashFiles('**/package-lock.json') }}
    - run: npm install
    - run: npm run lint
    - run: npm run flow
    - run: npm run build
    # - run: npm run prepare-size-compare
    # - run: yarn danger ci
    - run: npm run build-www

  unit:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16.8]
    env:
      CI: true
      PLAYWRIGHT_BROWSERS_PATH: 0
    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}
    - uses: actions/cache@v2
      with:
        path: '**/node_modules'
        key: ${{ runner.os }}-${{ hashFiles('**/package-lock.json') }}
    - run: npm install
    - run: npm run test-unit

  e2e-mac:
    runs-on: macos-latest
    strategy:
      matrix:
        node-version: [16.8]
        browser: ['chromium', 'firefox', 'webkit']
        editor-mode: ['rich-text', 'plain-text']
        events-mode: ['legacy-events', 'modern-events']
    env:
      CI: true
      PLAYWRIGHT_BROWSERS_PATH: 0
      E2E_EDITOR_MODE: ${{ matrix.editor-mode }}
      E2E_EVENTS_MODE: ${{ matrix.events-mode }}
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
      - uses: actions/cache@v2
        with:
          path: '**/node_modules'
          key: ${{ runner.os }}-${{ hashFiles('**/package-lock.json') }}
      - run: npm install
      - run: npm run build
      - run: npm run test-e2e-ci:${{ matrix.browser }}

  e2e-linux:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16.8]
        browser: ['chromium', 'firefox']
        editor-mode: ['rich-text', 'plain-text']
        events-mode: ['legacy-events', 'modern-events']
    env:
      CI: true
      PLAYWRIGHT_BROWSERS_PATH: 0
      E2E_EDITOR_MODE: ${{ matrix.editor-mode }}
      E2E_EVENTS_MODE: ${{ matrix.events-mode }}
    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}
    - name: install required packages
      run: |
        sudo apt-get update
        sudo apt-get install xvfb
    - uses: actions/cache@v2
      with:
        path: '**/node_modules'
        key: ${{ runner.os }}-${{ hashFiles('**/package-lock.json') }}
    - run: npm install
    - run: npm run build
    - run: npm run test-e2e-ci:${{ matrix.browser }}

  e2e-windows:
    runs-on: windows-latest
    strategy:
      matrix:
        node-version: [16.8]
        browser: ['chromium', 'firefox']
        editor-mode: ['rich-text', 'plain-text']
        events-mode: ['legacy-events', 'modern-events']
    env:
      CI: true
      PLAYWRIGHT_BROWSERS_PATH: 0
      E2E_EDITOR_MODE: ${{ matrix.editor-mode }}
      E2E_EVENTS_MODE: ${{ matrix.events-mode }}
    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}
    - uses: actions/cache@v2
      with:
        path: '**/node_modules'
        key: ${{ runner.os }}-${{ hashFiles('**/package-lock.json') }}
    - run: npm install
    - run: npm run build
    - run: npm run test-e2e-ci:${{ matrix.browser }}
