name: Lexical Tests

on:
  push:
    branches:
      - main
    paths-ignore:
      - 'examples/**'
      - 'packages/lexical-website/**'
  pull_request:
    types: [opened, synchronize, reopened]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  core-tests:
    uses: ./.github/workflows/call-core-tests.yml

  e2e-tests:
    if: github.repository_owner == 'facebook'
    uses: ./.github/workflows/call-e2e-canary-tests.yml
