name: Lexical Tests (Extended)

on:
  merge_group:
  pull_request:
    types: [labeled, synchronize]
    paths-ignore:
      - 'packages/lexical-website/**'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  e2e-tests:
    if: (github.repository_owner == 'facebook' && contains(github.event.pull_request.labels.*.name, 'extended-tests')) || github.event_name == 'merge_group'
    uses: ./.github/workflows/call-e2e-all-tests.yml
